.block__accordion__content {
    width: 100%; 
  }
  
  .block__accordion__content button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 15px 0;
  }
  
  .block__accordion__content .accordion-question {
    padding: 15px 0;
    border-bottom: 1px solid var(--color-neutral-600)
  }