.block__media {

    .media-wrapper {
        position: relative;
        overflow: hidden;
    }

    .video-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s; /* Adjust 0.5s to your desired fade duration */
        opacity: 1;
        aspect-ratio: 16/9; // Match the video
        z-index: 1;

        &.hidden {
            opacity: 0;
            pointer-events: none; /* This makes sure the poster doesn't block clicks even when invisible */

            ~ svg {
                opacity: 0;
            }
        }

    }

    .media-poster {
        position: absolute;
        width: 100%;
        height: 100%;
   
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16/9;
        }

        .play-video-btn {
            opacity: 1;

            &.hidden {
                opacity: 0;
            }
        }

        svg {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            transition: 300ms $cubic;

            &:hover {
                transform: translate(-50%, -50%) scale(1.1);
            }

            path {
                stroke: $primary;
                fill: $lightest;
            }
        }
    }

    .media-grid {
        display: grid;
        gap: 30px;

        &--layout-1 {
            grid-template-columns: repeat(1, 1fr);
        }

        &--layout-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &--layout-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &--layout-4 {
            grid-template-columns: repeat(2, 2fr);
        }

        &--layout-5 {
            grid-template-columns: repeat(3, 2fr);
        }

        &__item {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .swiper {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;

        img {
            width: 100%;
        }
    }
}
