footer[role="contentinfo"] {
	background: $secondary;
	padding: 8rem 0;

	.site-footer__top {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-wrap: wrap;

        @include bp(tablet) {
            margin-bottom: 4rem;
			padding-bottom: 4rem;
			border-bottom: 1px solid rgba($light, .1);
			flex-direction: row;
        }

		h2,h3,h4,h5,h6,a, p {
			color: var(--lightest);
		}

		.site-footer__column {
			width: 100%;
			margin-bottom: 2rem;

			@include bp(tablet) {
				width: calc(50% - 2rem);
			}

			@include bp(desktop) {
				width: calc(10% - 2rem);
				margin-bottom: 0;
			}

			&:first-child {
				@include bp ( desktop ) {
					width: calc(40% - 2rem);
				}
			}

			img {
				margin-bottom: 20px;
			}

			a {
				display: inline-block;
				text-decoration: none;
				color: var(--lightest);
				transition: 300ms $cubic;
				text-wrap: nowrap;

				&:hover {
					color: var(--primary);
				}
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					a {
						text-decoration: none;
						color: var(--lightest);
						transition: 300ms $cubic;

						&:hover {
							color: var(--primary);
						}
					}
				}

				&.footer-socials {
					margin-top: 20px;

					li {
						display: inline-block;
						margin-right: 2rem;

						svg path {
							fill: var(--primary);
						}
					}
				}
			}
		}
	}

	.site-footer__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

        p {
            margin: 0;
			color: var(--lightest);
        }
	}

	a.credits {
		position: relative;
		display: inline-block;
		text-align: left;
        margin-top: 2rem;
		width: 300px;
		height: 30px;
		overflow: hidden;

        @include bp(tablet) {
            text-align: right;
            margin-top: 0;
        }

		div,
		span {
			position: absolute;
			top: 0;
			left: 0;
			color: var(--lightest);
			transition: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
			width: 100%;
			text-align: left;

            @include bp(tablet) {
                text-align: right;
            }
		}

		div {
            transform: translateY(-100%);

            @include bp(desktop) {
            	transform: translateY(0%);
            }
		}

		span {
			display: block;
			width: 300px;
			height: 30px;
            transform: translateY(0%);

            @include bp(desktop) {
                transform: translateY(100%);
            }

			img {
				width: 100%;
				height: auto;
			}
		}

		&:hover {
			div {
				transform: translateY(-100%);
			}

			span {
				transform: translateY(0%);
			}
		}
	}
}
