header[role="banner"] {
    position: relative;
    padding: 2rem 0;
    width: 100%;
    background: $light-grey;
    border-bottom: 1px solid $medium-grey;
    z-index: 9999;
    transition: 600ms $cubic;

    &.offcanvas-open {
        background: $light-grey;
        position: fixed;
        top: 0;
    }

    .brand {
        z-index: 10;
    }

    .brand img {
        width: 40px;
        height: auto;
    }

    .container {
        position: relative;
    }

    &.header-sticky {
        position: fixed;
        top: 0;
        width: 100%;
        @include animate( 1s, 0, slideInDown);
    }

    .header__inner {

        &.header-layout--default {
            .row {
                @include bp(desktop) {
                    justify-content: flex-start;
                }
            }

            .brand {
                margin-right: 60px;
            }
        }

        &.header-layout--right {
            .row {
                @include bp(desktop) {
                    justify-content: flex-end;
                }

                .brand {
                    position: absolute;
                    left: 0;
                }
            }
        }

        &.header-layout--hamburger {
            .row {
                justify-content: space-between;
            }
        }

    }
}
