.blog,
.category,
.archive,
.search-results {

	// Latest News

	.blog-posts {
		margin-bottom: 8rem;

	    &__intro {
	        padding: 6rem 0;
			margin-bottom: 6rem;
			border-bottom: 1px solid $light;

	        h1 {
	            margin: 0;
	        }
	    }

	    &__posts {
	        width: 100%;
	        display: grid;
			grid-template-columns: repeat(1, 1fr);  
			grid-gap: 20px;
			row-gap: 20px;

			@include bp(tablet) {
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 30px;
				row-gap: 30px;
			}

			@include bp(desktop) {
				grid-template-columns: repeat(3, 1fr); 
				grid-gap: 40px;
				row-gap: 40px;
			}
	    }

	    &__post {
	        width: 100%;
	        position: relative;
	        text-decoration: none;

	        img {
	            width: 100%;
	            top: 0;
	            left: 0;
	            display: block;
	            object-fit: cover;
	            transition: 600ms;
				aspect-ratio: 5/3;
				border-radius: var(--rounded-3xl);
	        }

	        &__content {
	            position: relative;
				padding: 2rem 0;
	            z-index: 2;

				.post-meta {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 10px;
				}

				a {
					text-decoration: none;
				}

	            .title {
	                line-height: 1.2;
	            }

				.categories {
					margin: 1rem 0;

					a {
						background: $light;
						padding: 5px 10px;
						font-size: 12px;
						border-radius: 100px;
					}
				}

	            .date {
	                margin: 1rem 0;
					font-size: 14px;

	                span {
	                    margin-left: 1rem;
	                    padding-left: 1rem;
	                    border-left: 1px solid $lightest;
	                }
	            }

	            .read-more {
	                margin: 0;	
					bottom: 2rem;
	                display: inline-flex;
					align-items: center;

					svg {
						width: 18px;
						height: auto;
						margin-left: 5px;
					}
	            }
	        }

	        .dark-overlay {
	            opacity: 0;
	            transition: 600ms;
	            background: rgba($darkest, .8);
	        }

	        &:hover {

	            img {
	                transform: scale(1.01);
	            }

	            .blog-posts__post-content {
	                opacity: 1;
	            }

	            .dark-overlay {
	                opacity: 1;
	            }
	        }
	    }

		.navigation {
			text-align: center;
			margin-top: 30px;

			ul {
				list-style: none;
				padding: 0;
				display: inline-block;

				li {
					display: inline-block;
					margin-right: 5px;
					margin-bottom: 5px;

					&.active a {
						background-color: #333;
						color: #fff;
					}

					a {
						padding: 5px 10px;
						background-color: #f7f7f7;
						border: 1px solid #e5e5e5;
						text-decoration: none;
						color: #333;
						border-radius: 3px;
						transition: background-color 0.3s;

						&:hover {
							background-color: #333;
							color: #fff;
						}
					}
				}
			}
		}
	}

	.no-results,
	.not-found {

		.page-content {
			padding: 1.25em 0;

			@include bp(medium) {
				padding: 4em 0;
			}

			p {
				text-align: center;
				margin-bottom: 2.5em;
			}
		}

		label {
			span {
				display: none;
			}
		}

		form {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		input[type="search"] {
			display: block;
			float: left;
			width: 70%;
			padding: 1.25em;
			background: darken($light, 5%);
			border: none;
			border-radius: 4px 0 0 4px;
			box-sizing: border-box;
		}

		input[type="submit"] {
			display: block;
			float: right;
			margin: 0;
			width: 30%;
			padding: 1.55em 0;
			border: none;
			border-radius: 0 4px 4px 0;
			box-sizing: border-box;
		}
	}
}

.single-post article {

	[itemprop="articleBody"],
	footer {
		max-width: 900px;
		margin: 0 auto;
	}

	header {
		position: relative;
		width: 100%;
		max-height: 600px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	[itemprop="articleBody"] {
		margin-top: 8rem;
		margin-bottom: 8rem;

		p {
			font-size: 2rem;
		}
	}

	footer {
		margin-bottom: 8rem;
	}

	section {

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		a {
			font-family: $global-font-family;
			font-weight: normal;
		}

		.content {
			margin-top: 2rem;
			margin-bottom: 4rem;
		}
	}

	footer {}
}
