// Custom Button Styles

.button {
    display: inline-block;
    margin-top: 0;
    margin-bottom: $margin-bottom;
    background: $primary;
    color: $lightest;
    line-height: 1.7;
    font-weight: 700;
    letter-spacing: 1px;
    padding: $button-padding;
	border-radius: 6px;
    font-size: 14px;
    font-family: $header-font-family;
    border: none;
    transition: 600ms $cubic;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: lighten($primary, 10%);
        color: $lightest;
    }
}
