// Custom Form Styles

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select {
    height:$input-height;
    width:100%;
    border: 1px solid $medium-grey;
	font-weight: 300;
    border-radius: 4px;
    padding: 1rem;

    &:hover {
        border-color:darken($input-border-color, 20%);
    }

    &:focus {
        border-color:$input-focus-border-color;
        color:$input-focus-color;
        outline:none;
    }
}

textarea {
    width: 100%;
	font-weight: 300;
    padding: 1rem;
	border: 1px solid $medium-grey;
}

.gfield {
    margin-bottom: 20px;
}

.gfield_label {
    display: block;
    margin-bottom: 10px;
}

.gform_submission_error {
    background: rgba(red,0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}

.validation_message {
    font-weight: 700;
    color: red;
    padding: 10px 0;
    font-size: 14px;
}

.gfield_error {
    input {
        border: 1px solid red;
    }
}