// -------------------------------------------------------------
// Global styles
// -------------------------------------------------------------

*,
*:before,
*:after {
	box-sizing: inherit;
}

[id] {
  scroll-margin-top: 2em;
}

html {
	display: block !important;
	box-sizing: border-box;
	background: $light-grey;
	font-size: 50%;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	@include bp(tablet) {
		font-size: 57.25%;
	}

	@include bp(desktop) {
		font-size: 62.5%;
	}
}

body {
	line-height: $baseline;
	font-size: $global-font-size;
	color: $text-color;
	font-family: $global-font-family;
	font-weight: $global-weight-normal;
	overflow-x: hidden;

	&.mobile-menu-active {
		max-height: 100vh;
	}
}

.offcanvas {
	width: 100%;
	height: calc(100vh - 50px);
	position: fixed;
	top: 50px; // offset header height
	right: 0;
	display: flex;
	align-items: center;
	background: var(--color-neutral-300);
	transition: all 600ms 0s $cubic;
	z-index: 100;
}


.overlay {
	display: block;
	position: absolute;
	background: rgba($dark, 0.7);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	iframe,
	object,
	video,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
}

.no-scroll {
    overflow: hidden;
}