// Grid Styles
.container {
    position: relative;
    width: 100%;
    max-width:$global-width;
    margin:0 auto;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--wide {
	max-width:calc($global-width) * 1.2;
	width: 90%;
    margin:0 auto;
    padding: 0 2rem;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--narrow {
	max-width:calc($global-width) / 1.2;
	width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.container--thin {
	max-width:calc($global-width) / 1.5;
	width: 100%;
    margin: 0 auto;
    padding: 0 5vw;

    @include bp(desktop) {
        padding: 0;
		width: 100%;
    }
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.row {
    position: relative;
    display:flex;
    margin:0 auto;
    flex-wrap:wrap;

    @include bp(desktop) {
        width: 100%;
    }

    &--collapse > .column {
        padding-left:0!important;
        padding-right:0!important;
    }

    &--nowrap {
        flex-wrap:nowrap;
    }

    // handle horizontal alignment

    &--center {
        justify-content:center;
    }

    &--justified {
        justify-content:space-between;
    }

    &--spaced {
        justify-content:space-around;
    }

    &--start {
        justify-content: flex-start
    }

    &--end {
        justify-content:flex-end;
    }

    // handle vertical alignment

    &--middle {
        align-items:center;
    }

    &--bottom {
        align-items:flex-end;
    }

    &--top {
        align-items:flex-start;
    }

}

ul.row {
    list-style:none;
    padding:0;
    margin:0;
}

.column {
    margin:0;
    min-width: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis:auto;
    width: 100%;
    padding-left: calc($global-padding);
    padding-right: calc($global-padding);

    @include bp(tablet) {
        padding-left: calc($global-padding * 2);
        padding-right: calc($global-padding * 2);
    }

    @include bp(desktop) {
        padding-left: calc($global-padding);
        padding-right: calc($global-padding);
    
    }
}


@for $i from 1 through 12 {

    .column-m-#{$i} {
        max-width: calc(100% / 12) * $i;
    }

    .column-m-#{$i}-nest {
        max-width: calc(100% / 12) * $i;
    }

    .column-m-order-#{$i} {
        order:#{$i};
    }

}

@include bp(tablet) {

    @for $i from 1 through 12 {

        .column-t-#{$i} {
            max-width: calc(100% / 12) * $i - 2%;
        }

        .column-t-#{$i}-nest {
            max-width: calc(100% / 12) * $i;
            padding: 0;
        }

        .column-t-order-#{$i} {
            order:#{$i};
        }

    }

}

@include bp(phablet) {

    @for $i from 1 through 12 {

        .column-p-#{$i} {
            max-width: calc(100% / 12) * $i - 2%;
        }

        .column-p-#{$i}-nest {
            max-width: calc(100% / 12) * $i;
            padding: 0;
        }

        .column-p-order-#{$i} {
            order:#{$i};
        }

    }

}

@include bp(desktop) {

    @for $i from 1 through 12 {

        .column-d-#{$i} {
            max-width: calc(100% / 12) * $i - 2%;
        }

        .column-d-#{$i}-nest {
            max-width: calc(100% / 12) * $i;
            padding: 0;
        }

        .column-d-order-#{$i} {
            order:#{$i};
        }

    }

}
